.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }
  body{
      background-color: lightgray;
      font-family: sans-serif;
      padding-top: 40px;
      
  }
  nav{ background: black; height: 52px; width: 100%; position: fixed; top: 0; left: 0;
}
  nav ul{list-style: none; margin: 0 auto; padding: 0; width: 100%; max-width: 1320px;
}
nav ul ul{display: none; position: absolute; top: 100%; left: 0; width: 100%;
}
  nav ul li{position: relative; float: left; width: 15%; text-align: center;
}

  nav ul li:hover ul{display: block;
}

  nav ul li li{position: relative; float: none; width: 100%; border: none;
}

  nav ul li a{ display: block; text-decoration: none; color: #fff; padding: 15px 25px; font-style: 1.2em; box-sizing: border-box; border-right: solid 2px #000; border-left: solid 2px #000;
}

nav ul ul a{font-size: Irem; border-bottom: solid 2px #000;
}

nav ul ul li:first-child a{border-top: solid 2px #000;}

nav ul li:hover a{background: #fff; color: #000; text-decoration: none; transition: 1s;}

nav ul li li:hover a{background: #000;color: #fff;}


.h1 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.h3 {
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color:black;
}

.h3page {
    padding-top: 0px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: #45502d;
}

.h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    font-style: normal;
    text-align: center;
}
.h5 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}


.h5page {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    color: #45502d;
}

.titlepage {
    padding-top: 40px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #45502d;
}

.container {
    padding-top: 35px;
    padding-bottom: 10px;
}


.row {
    padding-top: 35px;
    padding-bottom: 80px;
    align-content: center;
}

.columnl {
width: 410px;
float: left;
}

.columnc {
margin-left: 45px;
width: 410px;
}

.columnr {
margin-left: 45px;
width: 410px;
float: right;
}

.columnalfsection1 {
    width: 650px;
    float: right;
}

.columnalfsection2 {
    margin-left: 60px;
    width: 650px;
    float: left;
}

.column1 {
    width: 310px;
    float: left;
    }
    
.column2 {
    margin-left: 15px;
    width: 310px;
    }
    
.column3 {
    margin-left: 15px;
    width: 310px;
    }

.column4 {
    margin-left: 15px;
    width: 310px;
    float: right;
    }

 .footershop {
    padding-top: 35px;
    padding-bottom: 10px;
    }
    
.columnfooter1 {
    width: 800px;
    float: right;
        }

.columnfooter2 {
    margin-left: 30px;
    width: 410px;
    float: left;
    padding-top: 50px;
    }

.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    position: absolute;
    left: 0%;
    right: 0%;
}

.headlogo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    position: absolute;
    left: 0%;
    right: 0%;
}


.columntextleft {
    width: 850px;
    float: left;
    }
    
    .columnimgright {
    margin-left: 45px;
    width: 410px;
    float: right;
    }
    .shop_product {
        text-align: center;
    }
    .shop_product a{
        text-decoration: none;
    } 
    .shop_product h3 {
        text-align: center;
        font-weight: bold;
        color:black;
        font-size: 20px;
        margin-top: 12px;
    }
    .shop_product strong {
        text-align: center;
        display: block;
        color:#45502d ;
        font-size: 25px;
    } 

.shop_product button {
    text-align: center;
    font-weight: bold;
    color:#fff ;
    font-size: 15px;
    margin-top: 12px;
background-color:#45502d ;
}
.shop_detail {

}
.shop_detail_inner img {
float: left;
padding-right: 40px;
}
.shop_detail_inner button {
    text-align: center;
    font-weight: bold;
    color:#fff ;
    font-size: 20px;
   
background-color:#45502d 
}